

.h1{
    text-align: center;
    font-size:80px;
}
.para{
    width: 800px;
    height: 800px;
    margin: auto

}
.action_btn{
    width: 70px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(186, 220, 231);

}
body{
    background-image:url(img1.jpg);
    background-size:100%;
}
#text{
    text-align: center;
 
}
#font_size{
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(186, 220, 231); 
}
.btns{
    margin: 0px auto;
    margin-left: 20px;
}
